#myButton {
    font-size: 2vw;
    color: black;
}

#select {
    width: 30vw;
    height: auto;
}

#middle-col{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}
